<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light mb-3">
	<a href="#" class="navbar-brand">REPL Reviews</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="navbar-nav">
			<a href="/" class="nav-link">Courses</a>
			<a href="/reviews" class="nav-link">Reviews</a>
		</div>
	</div>
</nav>
