<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light mb-3">
	<a class="navbar-brand" href="/">
		<img src="/img/compass.svg" alt="Compass logo" height="70" class="px-2" />
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="navbar-nav">
			<a href="/courses" class="nav-link">Courses</a>
			<a href="/reviews" class="nav-link">Reviews</a>
		</div>
		<div class="navbar-nav flex-row justify-content-between ml-auto">
			<% if (typeof user !== 'undefined' && user) { %>
			<a href="#" class="nav-link disabled">Hi, <%= user.username %></a>
			<a href="/user/profile" class="nav-link">Profile</a>
			<a href="/user/logout" class="nav-link">Logout</a>
			<% } else { %>
			<a href="/user/auth/slack"
				><img
					class=""
					alt="verify in with Slack"
					height="40"
					width="172"
					src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
					srcset="
						https://platform.slack-edge.com/img/sign_in_with_slack.png    1x,
						https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x
					"
			/></a>
			<% } %>
		</div>
	</div>
</nav>
