<!DOCTYPE html>
<html lang="en">
	<!-- EJS head partial -->
	<%- include('partials/head.ejs'), {title: title}%>
	<body>
		<!-- Express snippet to include the header and navigation from a partial -->
		<%- include('partials/nav.ejs') %>
		<div class="container">
			<!-- Page content begins below this -->
			<h1><%- heading %></h1>

			<a href="/add" class="btn btn-primary">Add a review</a>
			<table data-toggle="table" data-search="true" class="pb-10">
				<thead>
					<tr>
						<th scope="col" data-sortable="true">ID</th>
						<th scope="col" data-sortable="true">Course</th>
						<th scope="col" data-sortable="true">Reviews</th>
						<th scope="col" data-sortable="true">Difficulty (1-5)</th>
						<th scope="col" data-sortable="true">Workload (hrs/wk)</th>
						<th scope="col" data-sortable="true">Rating (1-5)</th>
					</tr>
				</thead>
				<tbody>
					<% courseReviewData.forEach(function(course){ %>
					<tr>
						<td><%= course.id %></td>
						<td><%= course.title %></td>
						<td><%= course.reviewCount %></td>
						<td><%= course.difficulty %></td>
						<td><%= course.workload %></td>
						<td><%= course.rating %></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<!-- Bootstrap Requirements -->
		<%- include('partials/bootstrap_reqs.ejs')%>

		<!-- Bootstrap Table  -->
		<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
	</body>
</html>
