<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>

		<title>REPL Reviews</title>
	</head>
	<body>
		<div class="container">
			<!-- Express snippet to include the header and navigation from a partial -->
			<%- include('partials/header.ejs') %>
			<!-- Page content begins below this -->
			<h1><%- heading %></h1>
			<table data-toggle="table" data-search="true">
				<thead>
					<tr>
						<th scope="col" data-sortable="true">ID</th>
						<th scope="col" data-sortable="true">Course</th>
						<th scope="col" data-sortable="true">Reviews</th>
						<th scope="col" data-sortable="true">Difficulty</th>
						<th scope="col" data-sortable="true">Workload</th>
						<th scope="col" data-sortable="true">Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>CM1015</td>
						<td>Computational Mathematics</td>
						<td>122</td>
						<td>3.2</td>
						<td>4.3</td>
						<td>1.1</td>
					</tr>
					<tr>
						<td>CM1005</td>
						<td>Introduction to Programming</td>
						<td>122</td>
						<td>5.2</td>
						<td>6.3</td>
						<td>7.1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
	</body>
</html>
