<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs'), {title: title}%>
	<body>
		<%- include('partials/nav.ejs') %>
		<div class="container">
			<h1><%- heading %></h1>

			<!-- alerts -->
			<% if (errorMessage.length > 0) { %>
			<div class="alert alert-danger"><%= errorMessage %></div>
			<% } %>
			<% if (warningMessage.length > 0) { %>
			<div class="alert alert-warning"><%= warningMessage %></div>
			<% } %>
			<!-- Update Account -->
			<form>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" value="<%= user.email %>" disabled />
				</div>
				<div class="form-group">
					<label for="username">Full name</label>
					<input type="text" class="form-control" name="username" value="<%= user.username %>" disabled />
				</div>
			</form>

			<!-- Review List -->
			<div class="my-4">
				<h2>Your Reviews</h2>
				<p>You have reviewed <%= reviews.length %> course(s).</p>
				<% reviews.forEach(function(review){ %>
				<div>
					<p class="my-1">
						<a class="btn btn-outline-secondary btn-sm" href="/review/<%- review.id %>/update">Edit</a>
						<a href="/review/<%- review.id %>"><%= review.course_id %>: <%= review.title %></a>
					</p>
				</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>
