<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs'), {title: title}%>
    <body>
        <%- include('partials/nav.ejs') %>
        <div class="container">
            <h1><%- heading %></h1>

            <% if (message.length > 0) { %>
                <div class="alert alert-warning"><%= message %></div>
            <% } %>

            <form action="/register" method="post" class="">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
            </form>
            <hr>
            <p>Already an account? <a href="/login">Login here</a></p>
        </div>
    </body>
</html>
