<!DOCTYPE html>
<html lang="en">
	<!-- EJS head partial -->
	<%- include('partials/head.ejs'), {title: title}%>
	<body>
		<!-- EJS snippet to include the navbar from a partial -->
		<%- include('partials/nav.ejs') %>
		<div class="container">
			<!-- Page content begins below this -->
			<h1><%- heading %></h1>
			<% reviews.forEach(function(review){ %>
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title"><%- review.course_id %>: <%- review.title %></h5>
						<h6 class="card-subtitle mb-2 text-muted"><%- review.timestamp %></h6>
						<h6 class="card-subtitle mb-2 text-muted"><%- review.author %></h6>
						<h6 class="card-subtitle mb-2 text-muted"><%- review.session %></h6>
						<p class="card-text" style="white-space: pre-wrap;"><%- review.text %></p>
						<h6 class="card-subtitle mb-2">Difficulty: <%- review.difficulty %> / 5</h6>
						<h6 class="card-subtitle mb-2">Workload: <%- review.workload %> hours / week</h6>
						<h6 class="card-subtitle mb-2">Rating: <%- review.rating %> / 5</h6>
					</div>
				</div>
			<% }) %>
		</div>
		<!-- Bootstrap requirements -->
		<%- include('partials/bootstrap_reqs.ejs')%>
	</body>
</html>