<!DOCTYPE html>
<html lang="en">
	<!-- EJS head partial -->
	<%- include('partials/head.ejs'), {title: title}%>
	<body>
		<!-- EJS snippet to include the navbar from a partial -->
		<%- include('partials/nav.ejs') %>
		<div class="container">
			<!-- Page content begins below this -->
			<h1><%= heading %></h1>
			<a href="/reviews/add<%- typeof filteredModule !== 'undefined' ? '?course_id=' + filteredModule : '' %>"
				class="btn btn-primary mb-4" >Add a review</a>
			<% if (typeof reviews === 'undefined' || reviews.length < 1) { %>
			<p>No reviews found for selected course or id.</p>
			<% } %>
			<% reviews.forEach(function(review){ %>
				<%- include('partials/review_card.ejs', {review: review}) %>
			<% }); %>
			<!-- pagination -->
			<%- include('partials/paginate.ejs') %>
		</div>
		<!-- Bootstrap requirements -->
		<%- include('partials/bootstrap_reqs.ejs')%>
	</body>
</html>
